<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>About Us</h2>
	<p>We want everyone to learn how to play tic-tac-toe.</p>
	<p>It may look like a simple game, but a lot of logic goes into it since you need to plan your move ahead of your opponent's move.</p>
</body>
</html>