<!DOCTYPE html>
<html>
<head>
	<title>Selection Screen</title>
	<script src="/js/show_or_hide_hidden_div.js">
	</script>
</head>
<body>
	<h1>Select your game mode.</h1>
	<form method="post" action="post-player-selection"> 
		<div id="radio">
			<input type="radio" value="0" name="players" id="radio" onclick="hide_hidden_div();" required><span>Ai vs ai</span>
			<input type="radio" value="1" name="players" id="radio" onclick="show_hidden_div();"><span>Player vs ai</span>
			<input type="radio" value="2" name="players" id="radio" onclick="hide_hidden_div();"><span>Player vs player</span>
		</div>
		<br>
		<div id="hidden_div" class="hide"  id="radio">
			<p>Would you like to go first?</p>
			<input type="radio" value="1" name="p1_p2" id="hidden_radio"><span>Yes</span>
			<input type="radio" value="2" name="p1_p2"><span>No</span>
		</div>
		<br>
		<div>
			<input type="submit">
		</div>
	</form>
</body>
</html>