<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="div">
		
	</div>
	<script type="text/javascript">
	var totalRows = <%= size %>;
	var cellsInRow = <%= size %>;
	var min = 1;
	var max = <%= size %> * <%= size %>;

    function makeTable() {
        // get the reference for the body
        var div = document.getElementById('div');
 
        // creates a <table> element
        var tb = document.createElement("table");
 
        // creating rows
        for (var r = 0; r < totalRows; r++) {
            var row = document.createElement("tr");
	     
	     // creates the cells in a row
             for (var c = 0; c < cellsInRow; c++) {
                var cell = document.createElement("td");
                cell.onclick=numToMarker(min);
                console.log(cell);
                var cellText = document.createTextNode(min++);
                cell.appendChild(cellText);
                row.appendChild(cell);
            }           
            
	tb.appendChild(row);
        }
    
    div.appendChild(tb);

}

	function numToMarker(cell){
		console.log(cell);
		if (cell > 0 && cell < 100){
			cell = "x"
		}
	}
window.onload=makeTable;
	</script>

</body>
</html>