<!DOCTYPE html>
<html>
<head>
	<title>Welcome To My Tic-Tac-Toe Game!</title>
</head>
<body>
	<h1>Welcome To My Tic-Tac-Toe Game!</h1>

	<h2>Please enter 3 to create the board size.</h2>

	<h3>The number will then create a 3x3 board.
	</h3>

	<form method="post" action="post-size"> 
		<div>
			<input type="text" name="size" placeholder="Size" maxlength="1" pattern="^\d*[3]$" required autofocus="">
		</div>
		<br>
		<div>
			<input type="submit">
		</div>
	</form>



</body>
</html>